*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
.menu{
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    position: fixed;
    top: 0;
    z-index: 100;

    box-shadow: 0 0 40px rgb(0 0 0 / 13%);
    
    
}
.shownavbar{
    display: block;
}
.menu img{
    height: auto;
    padding-right: 40px;
    padding-top: 10px;
}
.menu ul{
    list-style: none;
    display: flex;

}
.menu ul li{
    padding: 12px 37px;;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu ul li a:hover{
    color: blue;
}


  
ul li a{

    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    padding-top: 0PX;
 } 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    top: 58px;
    padding-block: 21px;
    padding-inline: 62px;
    margin: 11px;
    left: 146px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
}

  
  .show {
    display: block;
  }
  .icon{
    font-size: 35px;
    display:none;
  }
.wrapper{
    width: 100%;
    height: 600px;
    padding-top: 110px;
    align-self: center;
    text-align: center;
}
.wrapper h4{
    text-align: center;
    line-height: 30px;
    text-align: center;
    font-size: 40px;
    line-height: 65px;
    font-weight: 400;
    word-spacing: 5px;
}
.wrapper p{
    text-align: center;
    line-height: 95px;
}
button{
    margin: 4px;
    text-align: center;
    background: blue;
    color: white;
    font-size: 19px;
    height: 54px;
    width: 218px;
    border: 1px solid;
}
button:hover{
    background-color: white;
    color: black;
}
span{
    text-decoration: underline;
    line-height: 30px;
    height: 50px;
    color: blue;
    cursor: pointer;
}
.subtitles{
    width: 100%;
    height: auto;
    background-color:aliceblue;
    text-align: center;
    margin: 0px;
    padding: 50px;
    padding-top: 95px;


    
}


.subtitles span{
    color: blue;
    font-size: 40px;
}
.titels{
    display: flex;
    padding: 40px;
    font-family: sans-serif;
    align-items: center;
}
.group1{
    
    max-width: 70%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 30px;
 

}
.group1 img:hover{
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;

}
.group1 h4{
    padding-top: 20px;
    height: 64px;
}
.group2{
    
    max-width: 70%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 30px;
}

.group2 img:hover{
    transform:rotate(-30deg);
    transition: all 0.5s ease-in-out;

}
.group2 h4{
    padding-top: 20px;
    height: 64px;
}

.group3{
    max-width: 70%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 30px;

}
.group3 img:hover{
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;
}
.group3 h4{
    padding-top: 24px;
    height: 64px;
}
.container{
    width: 100%;
    padding: 20px;
    padding-bottom: 150px;
    margin: 0px;
    overflow: hidden;
}
.container h4{
    text-align: center;
    word-spacing: 9px;
    font-size: 36px;
    margin: 20px;
    padding: 20px;
    height: 240px;
}
.image{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-inline: 158px;
    gap: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.img-div1{
    min-width: 340px;
    height: 324px;
    overflow: hidden;
    box-shadow: 0 0 40px rgb(0 0 0 / 13%);
    cursor: pointer;
 }
 .img-div1 > img{
    width: 100%;
    height: auto;
    transform: translateY(0px);
    transition: all 2s ;
}
.img1 > img:hover{
    transform: translateY(-800px);
}
.img2 > img:hover{
    transform: translateY(-950px);
}
.img3 > img:hover{
    transform: translateY(-850px);
}
.img4 > img:hover{
    transform: translateY(-850px);
}

.image a{
    font-size: 18px;
    line-height: 4.3;
    text-decoration: none;
    color: blue;
    line-height: 90px;

}
.atif{
    width: 100%;
    height: 100%;
    padding: 24px;
    margin: 0px;
    background-color: #f3f3f3;
}
.box1 h4{
    height: 70px;
    text-align: center;
    font-size: 40px;
    padding: 21px;
    margin: 20px;
}
.box1 p{
    text-align: center;
}
.atif1{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
    padding-top: 100px;
}
.box2{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}

.box2{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box2 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.box2 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box2 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box2 p1{
    line-height: 26px;
}
.atif2{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box3{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box3 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.box3 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box3 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box3 p1{
    line-height: 26px;
}

.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    
}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}

.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}

.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}
.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}
.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    
}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}
.atif3{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box4{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box4 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}
.box4 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box4 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box4 p1{
    line-height: 26px;
}
.atif4{
    display: flex;
    width: 1125px;
    padding: 16px;
    margin: 41px auto;
    gap: 112px;
}
.box5{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 308px;
    margin: 20px;
    box-shadow: -1px 2px 19px;
}
.box5 svg{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}
.box5 svg:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}
.box5 h3{
    line-height: 23px;
    padding-bottom: 11px;
}
.box5 p1{
    line-height: 26px;
}
.crusor{
    width: 100%;
    height: 43%;
    margin: 0px;
    padding: 23px;
    margin-top: 158px;
}
.crusor h3{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.3;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .swiper-slide img {
    display:flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .row{
    display: flex;
    padding: 50px;
    padding-top: 95px;
    justify-content: space-between;
    padding-top: 70px;
    background-color: cornsilk;
    width: 100%;
    margin-top: 99px;
    margin-block: 80px;
  }

  .counter-box h2{
    display: contents;
    line-height: 107px;
  }
  .counter-box span{
    text-decoration: none;
  }
  .testimonials{
    width: 100%;
    height: 566px;
  }
  .testimonials h4{
    text-align: center;
    font-size: 40px;
    height: 158px;
    padding-top: 59px;
  }
  .testimonials span{
    text-decoration: none;
    font-size: 40px;
  }
  .testimonials p{
    text-align: center;
    word-spacing: 7px;
    height: 74px;
    width: 100%
  }
  .testimonials a{
    text-decoration: none;
    color: blue;
  }
  .card{
    width: 80%;
    height: 300px;
    padding-bottom: 40px;
    align-items: center;

  }

  .card1{
    width: 50%;
    height: 288px;
    background-color: aliceblue;
    cursor: pointer;
  }
 
.card2{
    background-color: aliceblue;
    cursor: pointer;
    width: 50%;
    height: 242px;
    --main-color: #2A74ED;

}
.author{
    display: flex;
}
.author img{
    width: 72px;
    padding-inline: 5px;
    padding: 1px;
    margin-inline: 11px;
}
.tm__info{
    padding: 16px;
    line-height: 21px;
    margin-top: 8px;
    padding-inline: 8px;
}
.card3{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: aliceblue;
}
  .buy-now{
    /* width:100%; */
    /* height: 100%; */
    /* background-image: url(C:\Users\user\Desktop\karma\image\images.jpg); */
    background-image: url('./image/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    max-width: 100%;
    background-size: cover;
    padding-inline: 10rem;
    height: 40rem;
    padding-bottom: 40px;
    text-align: center;
  }
  .buy-now p{
    padding-block: 100px;
    font-size: 40px;
    line-height: 74px;
  }
  .buy-now h4{
    color: white;
    font-size: 25px;
    line-height: 95px;
  }
  .buy-now a{
    text-decoration: none;
    background-color: blue;
    padding: 18px;
    font-size: 25px;
    color: white;
    border-radius: 51px;
  }

/*media query*/
@media screen and (max-width:1214px) {
    .menu ul li{
        padding: 13px 28px;
    }
    
}
@media screen and (max-width:1204px) {
    .menu ul li{
        padding: 13px 29px;
    }
    
}
@media screen and (max-width:1110px) {
    .menu ul li{
        padding: 13px 22px;
    }
    
}
@media screen and (max-width:1128px){
  .atif1{
    gap: 15px;
    width: 90%;
  }
  .atif2{
    gap: 15px;
    width: 90%;

  }
  .atif3{
    gap: 15px;
    width: 90%;
  }
  .atif4{
    gap: 15px;
    width: 90%;
  }
}
@media screen and (max-width:1024px) {
   .menu{
    padding: 0px 1%;
   }
    .titels{
        gap: 12px;
    }
    
}
@media screen and ( max-width:988px) {
    .menu{
        padding: 0px;
    }
    .menu ul li{
        padding: 17px 22px;
    }
    
}
@media screen and (max-width:952px) {
    .titels{
        width: 53%;
        display: contents;
    }
    .image{
        margin-inline: 21px;
    }
    .box1 p{
        padding-top: 47px;
    }
    .swiper{
        width: 95%;
    }
}
@media screen and (max-width:937px) {
    .menu ul li{
        padding: 13px 17px;
    }
    
}
@media screen and (max-width:877px) {

    .menu ul li{
        padding: 13px 14px;

    }
    .box2{
        height: 355px;
    }
    .box3{
        height: 355px;
    }
    .box4{
        height: 355px;
    }
    .box5{
        height: 355px;
    }
    .image{
        width: 100%;
        margin-inline: 38px;
        margin-left: 7px;
    }
}
@media screen and (max-width:841px) {
    .menu ul li{
        padding: 13px 11px;
    }
    .image{
        margin-inline: 128px;
    }
    
}
@media screen and (max-width:814px) {
   .testimonials p{
    font-size: 13px;
    line-height: 18px;
   }
    .buy-now p{
    font-size: 25px;
    line-height: 65px;
   }
    .buy-now h4{
        height: 84px;
    }
    
}
@media screen and (max-width:768px) {
    .icon{
        display: block;
        
        
    }
    .icon i{
        margin-block: 18px;
        margin-inline: -43px;
    
    }
    .menu{
        height: auto;
    }
    .menu ul li{
        background-color: gray;
        
    }
    
    .menu ul{
        list-style: none;
        display: none;
        margin-left: 316px;
        margin-top: 59px;
    
}
.shownavbar {
    display: block;
}
.atif1{
    gap: 1px;
    width: 100%;
}
.atif2{
    gap: 1px;
    width: 100%;
}
.atif3{
    gap: 1px;
    width: 100%;
}
.atif4{
    gap: 1px;
    width: 100%;
}
.row{
    gap: 24px;
    padding-inline: 19px;
}
.swiper{
    width: 97%;
    height: 56%;

}
.buy-now p{
    padding-block: 0px;
}

}
@media screen and (max-width:681px) {
    .buy-now h4{
        font-size: 21px;
        height: 123px;
    }
    
}
@media screen and (max-width:588px) {
   .wrapper h4{
    font-size: 27px;
   }
    .box1 h4{
        font-size: 25px;
    }
    .atif1{
        display: block;
    }

.atif2{
    display: block;
    }  
.atif3{
    display: block;
   }   
.atif4{
    display: block;
    }
  .image{
    margin-inline: 55px;
  }
   .box2{
    height: 278px;
    width: 77%;
    margin-inline: 64px;
   }
   .box3{
    height: 278px;
    width: 77%;
    margin-inline: 64px;
   } 
   .box4{
    height: 278px;
    width: 77%;
    margin-inline: 64px;
   }
   .box5{
    height: 278px;
    width: 77%;
    margin-inline: 64px;
   }
   .crusor h3{
    font-size: 25px;

}
.buy-now p{
    font-size: 25px;
    line-height: 50px;

}
.testimonials p{
    font-size: 14px;
}
.tm__position{
    font-size: 14px;
}
}
@media screen and (max-width:518px) {
    .testimonials p{
        font-size: 11px;
    }
    .buy-now h4{
        height: 160px;
        line-height: 53px;
    }
    
}
@media screen and (max-width:478px) {
    .image{
        margin-inline: 2px;
    }
    .buy-now p{
        font-size: 13px;
         line-height: 34px;
    }
    .buy-now h4{
        height: 177px;
    line-height: 41px;
    }
    .buy-now a{
        font-size: 14px;
    }
    
}
@media screen and (max-width:425px) {
   
   .menu ul{
    margin-left: 28px;
   }
    .wrapper p{
    line-height: 45px;
   }
   .group1{
    max-width: 100%;
   }
   
   .group2{
    max-width: 100%;
   }
   
   .group3{
    max-width: 100%;
   }
   .container{
    padding-bottom: 0px;

   }
   .container h4{
    font-size: 24px;
    height: 90px;
   }
   .image{
    margin-left: -18px;
   }
      
    .counter-box h2{
        font-size: 12px;
    }
    .row p{
        font-size: 10px;
    }
    .buy-now p{
    width: 302px;
    margin-inline: -95px;
    height: 130px;
    }
    .buy-now h4{
     width: 245px;
    margin-inline: -69px;
    }
    .buy-now a{
        font-size: 12px;

    }
}
@media screen and (max-width:404px) {
   
    .buy-now a{
        font-size: 11px;

    }
    
}
@media screen and (max-width:375px) {
    .buy-now a{
        font-size: 16px;
        margin: -61px;
    }
    
}
@media screen and (max-width:390px) {
    .buy-now a{
        padding: 0px;
        font-size: 17px;
    }
    
}
@media screen and (max-width:393px) {
    .buy-now a{
        font-size: 9px;
    }    
}
@media screen and (max-width:375px) {
    .menu ul{
        margin-left: -36px;
    }
    
}